/* eslint-disable vue/no-v-html */
<template>
  <div id="htmlDiv" ref="htmlDiv" v-html="html"></div>
</template>
<script lang="ts">
import Vue from 'vue'
import $ from 'jquery'
// import $ = require('jquery')
// import * as $ from 'jquery'

export default Vue.extend({
  props: {
    html: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      // html: '',
    }
  },

  watch: {
    html() {
      // console.log('html is changed:', this.html)
      // need a pause for the HTML to get rendered. Unreliable!
      setTimeout(this.initjQuery, 350)
    },
  },

  mounted() {},

  methods: {
    initjQuery() {
      // const sections = $('#htmlDiv section')
      // console.log('headers:', sections.length)

      // header
      $('header').on('dblclick', (e: any) => {
        e.preventDefault()

        const title = e?.target?.innerText
        // console.log('header clicked:', title)
        this.$toast.info(title)

        const el = $(e.target)

        // expand/collapse
        if (el.siblings()) {
          el.siblings().fadeToggle('fast')

          el.toggleClass('collapsed')
        }
      })

      // long-press
      let pressTimer: any
      const that = this

      $('header').on('mouseup', function () {
        clearTimeout(pressTimer)
        // Clear timeout
        return false
      })
      $('header').on('mousedown', function () {
        // Set timeout
        pressTimer = window.setTimeout(function () {
          // console.log('yo')
          that.$toast.info('long live the press!')
        }, 1000)
        return false
      })
    },
  },
})
</script>
