<template>
  <div>
    File List
    <div>
      <p v-for="file in files" :key="file.id">
        {{ file.title }}
      </p>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { OrganismDb } from '../lib/dal'
import { IOrgDoc } from '~/lib/model'

export default Vue.extend({
  data() {
    return {
      files: [] as IOrgDoc[],
    }
  },

  mounted() {
    this.load()
  },

  methods: {
    async load() {
      // load the list of files
      const db = new OrganismDb()
      const items = await db.docs.toArray()

      this.files = items
    },
  },
})
</script>
