<template>
  <div>
    Viewer
    <html-viewer :html="html" />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import htmlViewer from '~/components/html-viewer.vue'
import { IOrgDoc, OrgDoc } from '~/lib/model'
const { parse } = require('orga')
// const orga = require('orga-unified')
const unified = require('unified')
const reorgParse = require('reorg-parse')
const reorg2rehype = require('reorg-rehype')
const rehypeStringify = require('rehype-stringify')

export default Vue.extend({
  components: { htmlViewer },

  data() {
    return {
      model: new OrgDoc(),
      html: '',
      title: '',
    }
  },

  // head() {
  //   return { title: this.title }
  // },

  mounted() {
    this.createTestModel()
    this.showTitle()
    this.render(this.model)
  },

  methods: {
    createTestModel() {
      const model = {
        id: '/first.org',
        title: 'First',
        content: `#+title: First

This is a demo text

* first
* second
** Seventh Son of a Seventh Son
* But
** we
*** move
**** on

And so the story goes...

***** but
****** we
******* don't
******** give
********* up!

There might be some longer text, so that we get some length.

What happens when there is a line break?
It's a new line.

When no line-break, then everything is one HTML paragraph.

* Some thoughts

after the initial implementation

** Parser

So, the +parser+ has been added.

** Renderer

The rendering is more or less ok.

*** Titles

are set for the page.

*** Headers

are rendered and can be styled.

** Events

The events can be handled and bridged via jQuery and passed to Vue. Perhaps there is a way to do this with vue as well?

** Editor

This will require some thought.

Editing one item at a time should not be a problem. Just like in Orgzly.

But showing a sub-tree might be troubleshome?

** Styling

Need to test styling for various elements.

Standard formatting like *bold*, /italic/, _underline_, +strikethrough+, etc. seems fine.

How about dates? [2021-03-12]

Events <2021-03-21>

Nada. Links? [[https://alensiljak.eu.org]]

Images? insert here [[https://alensiljak.eu.org/lily5-9.gif]]

*** Collapsing

A style 'collapsed' would indicate that the content is hidden and the headline should contain ...

Hide all siblings?

*** Pre/Post

When a section is collapsed, show ...

*** emacs

The styling should match Emacs', as a start.
`,
      }

      this.model = model
    },

    render(model: IOrgDoc) {
      // const processor = orga().use(reorg2rehype).use(rehypeStringify)

      const processor = unified()
        .use(reorgParse)
        .use(reorg2rehype)
        .use(rehypeStringify)

      processor.process(model.content, (err: Error, output: any) => {
        if (err) {
          // todo: this.$toast.error(err)
          console.error(err)
        }

        // console.log(typeof output)

        this.html = output.contents
      })
    },

    showTitle() {
      // get the title from the model
      const ast = parse(this.model.content)
      // console.log(ast)
      const title = ast?.properties?.title
      if (title) {
        document.title = `Org-anism: ${title}`
      }
    },
  },
})
</script>
<style lang="scss">
section.level1 > header {
  color: lightgreen;
}

.level2 {
  margin-left: 10px;
}
.level2 > header {
  color: olive;
}

.level3 {
  margin-left: 10px;
}
.level3 > header {
  color: whitesmoke;
}

.level4 {
  margin-left: 10px;
}
.level4 > header {
  color: green;
}

.level5 {
  margin-left: 10px;
}
.level5 > header {
  color: cyan;
}

.level6 {
  margin-left: 10px;
}
.level6 > header {
  color: lightblue;
}

.level7 {
  margin-left: 10px;
}
.level7 > header {
  color: beige;
}

.level8 {
  margin-left: 10px;
}
.level8 > header {
  color: yellowgreen;
}

.level9 {
  margin-left: 10px;
}
.level9 > header {
  color: orange;
}

// Collapsed headers
header.collapsed::after {
  content: ' ...';
}
</style>
